.contact_section h1{
    font-size: 48px;
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif;
    max-width: 80%;
    
}
.contact_section p {
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif;
}